/* --- Custom Accordion --- */
.customAccordion.css-1efhoyx-MuiPaper-root-MuiAccordion-root {
  border: 1px solid #e5e5e5 !important;
  border-radius: 1rem !important;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08) !important;
  padding: 4px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.customAccordion.Mui-expanded {
  border: 1px solid #e5e5e5;
  margin: 0 !important;
}

.customAccordion .MuiAccordionSummary-root {
  background-color: #ffffff;
}

.customAccordion .MuiAccordionSummary-content .MuiTypography-root {
  font-weight: 600 !important;
  font-size: 1.2rem !important;
}

.customAccordion .MuiAccordionDetails-root {
  padding: 0rem 1.5rem 1rem;
}

.cardTitle {
  font-weight: 600 !important;
  font-size: 1.2rem !important;
}
